.DS_Store
.vscode
node_modules
npm-debug.log
server/public/build
lcov.info
metafile.yml
web/.config/
web/.DS_Store/
web/.npm/
web/.vscode/
web/node_modules/
web/server/public/build/
web/server/documents
web/test-output/
web/npm-debug.log
web/lcov.info
web/TEST-*.xml
inbound/*
outbound/*
lua-filters
pandoc
